#export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/go/bin"

[ -f "$HOME/.dotlocal/zprofile" ] && source "$HOME/.dotlocal/zprofile"
{{- if eq .chezmoi.os "linux" }}

if [ -z "${DISPLAY}" ] && [ "${XDG_VTNR}" -eq 1 ]; then
    exec startx
fi

if [ -z "${WAYLAND_DISPLAY}" ] && [ "${XDG_VTNR}" -eq 2 ]; then
    exec sway
fi
{{- end }}
